streamlit
fastapi
uvicorn
requests
pandas
beautifulsoup4
aiohttp
sentence-transformers
faiss-cpu
python-multipart
numpy
graphviz
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu